
a {
    color: #FFFFFA;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  background: #FFFFFA;
  margin:0;
}

body *{
    color:#FFFFFA;
}

.flex {
    display: flex;
    gap: var(--gap, 1%);
} 

h1 {
    color: #513417;
    margin-left:3%;
}

h3 {
    color: #513417;
    margin-left:3%;
}

h4 {
    color: #513417;
    margin-left:3%;
}

p1 {
    color: #513417;
    margin-left:3%;
}

p2 {
    color: #513417;
    margin-left:3%;
}

/* header/navbar */

.logo {
    margin: 9%;
    margin-left:18%;
    width: 200px;
    align-items: center; 
}

.primary-header {
    align-items: center;
    justify-content: space-between;
    background-color: #67DACB;
}

.mobile-nav-toggle {
  display: block;
  position: absolute;
  z-index: 1001;
  top: 5%;
  right: 7%;

  width: 30px;                 

  background: url("Media Files/hamburgerbtn.png") center/contain no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;

  aspect-ratio: 1;
}

.visually-hidden {
    position: absolute;
    width: 1%;
    height: 1%;
    padding: 0;
    margin: -1%;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: var(--gap, 4%);

    position: fixed;
    inset: 0 0 0 0;
    z-index: 1000;

    background: #67DACB;
    transform: translateX(100%);
    transition: transform 350ms ease-out;

    padding-top: 5em;
    padding-left: 1em;
}

.primary-navigation a {
    text-decoration: none;
    color: #FFFFFA;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    background-color:#38786f;
    border-radius: 20px;
}

.primary-navigation a:hover {
    background-color:#266159;
}

.primary-navigation a > span {
    font-weight: bold;
    margin-inline-end: 0.75em;
}

@media (min-width: 48em) {
    .mobile-nav-toggle {
        display: none;
    }

    .primary-navigation {

        display: flex;
        flex-direction: row;
        position: static;
        transform: none;

        background: #67DACB;
        gap: var(--gap);
    }
}

.primary-navigation[data-visible="true"] {
    transform: translateX(50%);
}

@media (min-width: 50%) and (max-width: 55%) {
  .primary-navigation a > span[aria-hidden="true"] {
    display: none;
  }
}

@media (min-width: 48em) {
  .primary-navigation {
    --gap: clamp(1.5rem, 5vw, 3rem);
    padding-block: 2rem;
    padding-inline: clamp(3rem, 5vw, 10rem);
  }
}

/* landing page */

.bannerimg {
    width: 100%;
    height: auto;
    margin-bottom: 5%;
}

.maincontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
}

.indeximg1 {
    width: 90%;
    border-radius: 3%;
    align-self: center;
}

.maintext {
    background-color: #C8EDE1;
    border-radius: 3%;
    text-wrap: inherit;
    padding: 3%;
}

.mtext {
    color: #25514b;
}

.reviewscontainer {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15%;
    row-gap: 2%;
    column-gap: 2%;
}

.reviewimg {
    width: 90%;
    border-radius: 3%;
}

.reviews {
    text-wrap: inherit;
}

/* contact us page */

.contactmain {
    padding-top: 1%;
    padding-bottom: 5%;
    margin-left: 5%;
}

iframe {
    align-content: center;
    width: 100%;
    height: 450px;
    margin-bottom: 3%;
    margin-top: 3%;
}

/* back to top button */

#backTop {
  position: relative;
  left: 80%;
  cursor: pointer;
  background: none;
  color: #513417;
  border: none;
  font-weight: bold;
}

/*footer*/

nav, footer{
    background-color:#67DACB;
}

footer{
    margin-top:1.5%;
    padding:5%;
    bottom:0;
}

footer h2{
    color:#FFFFFA;
    padding-left:0%;
}

footer span, footer h2{
    background-color: #38786f;
    padding: 0.5rem 1rem;
    border-radius:20px;
}

footer span:hover{
    background-color: #266159;
}



.flexrow{
    display:flex;
    flex-wrap:wrap;
    gap:2%;
}

/*forms*/

form{
    padding-left:3%;
}

form *{
    color:#513417;
    background-color: #FDFDFC;
    border-color:#513417;
}

form button{
    margin-top:1%;
}

/* Pastries grid */

#pastryGrid{
    display:grid;
    grid-template:1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
    box-sizing:border-box;

    margin:3%;
}

.pastryItem{
    background-color: #eb92bb;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:5%;
    border-radius: 20px;
    margin:5%;
}

.pastryItem *{
    color:#513417;
}

.pastryImage{
    border-radius: 20px;
    /* width:60%; */
    width:80%;
    height:auto;
}

.pastryName{
    font-weight: bold;
}

.pastryPrice{

}

.pastryButton{
    background-color:#513417;
    color:#FFFFFA;
    padding:2.5%;
    border-radius: 10px;
    margin-top:1%;
    /* transition:all ease 0.2s; */
}

.pastryButton:hover{
    /* padding:3%; */
    background-color: #342111;
}