
a {
    color: #FFFFFA;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* padding: 1%; */
  background: #FFFFFA;
  margin: 0;
}

/* header/navbar */

.logo {
    margin-left: 2%;
    width: 15%;
}

.primary-header {
    align-items: center;
    justify-content: space-between;
    background: #67DACB;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
    gap: 10%;
}

.primary-navigation a {
    text-decoration: none;
    padding: 2% 4%;
    margin-top: 10%;
}

.primary-navigation a > span {
    font-weight: bold;
    margin-inline-end: 1%;
}

/*footer*/

footer{
    background-color:#67DACB;
    padding:5%;
    bottom:0;
    left:0;
    right:0;
}


.flexrow{
    display:flex;
    flex-wrap:wrap;
    gap:2%;
}
